$azul: #282b57;
$branco: #ffffff;
$cinza: #e4e4e4;
$cinza-claro: #f6f6f6;
$cinza-escuro: #92929d;
$cinza-mais-escuro: #70707b;
$escuro: #242536;
$preto: #4c4d5e;
$vermelho: #d73b3b;
$vermelho-escuro: #c62a2a;

$fundo-cinza: #f6f6f6;

$fonte-principal: 'Italiana', sans-serif;
$fonte-secundaria: 'Josefin Sans', sans-serif;

$padding-horizontal-mobile: 1.5rem;
$padding-horizontal-sm: 9.375rem;
$padding-horizontal-md: 12.5rem;
$padding-horizontal: 15.625rem;
