@use '@/sass/variaveis' as *;
@use '@/sass/breakpoints' as *;

.cardapio {
    padding: 3.125rem $padding-horizontal;

    &__titulo {
        color: $escuro;
        font-size: 3rem;
        margin: 0 0 1.875rem;
    }

    &__controles {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1.875rem;
        width: 100%;
    }

    &__filtros {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 1.25rem 0;
    }

    &__itens {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2.5rem;
        width: 100%;
    }
}

@media (max-width: $mobile) {
    .cardapio {
        padding: 3.125rem $padding-horizontal-mobile;

        &__titulo {
            font-size: 2.75rem;
        }

        &__controles, &__filtros {
            justify-content: center;
        }

        &__itens {
            align-items: center;
        }
    }
}

@media (min-width: $mobile) and (max-width: $desktop_sm) {
    .cardapio {
        padding: 3.125rem $padding-horizontal-sm;
    }
}

@media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    .cardapio {
        padding: 3.125rem $padding-horizontal-md;
    }
}
